{% load static %}
{% load i18n %}

<!-- NAVIGATION -->
<div id="navigation">
    <!-- container -->
    <div class="container">
        <div id="responsive-nav">
            <!-- category nav -->
            {% if page %}
                <div class="category-nav">
            {% else %}
                <div class="category-nav show-on-click">
            {% endif %}

            <span class="category-header">{% trans "Categories" %} <i class="fa fa-list"></i></span>


            {% load myapptags %}
            {% if LANGUAGE_CODE is None %}
                {% get_current_language as LANGUAGE_CODE %}
                {% categoryTree 0 '' LANGUAGE_CODE as category %}
            {% else %}
                {% categoryTree 0 '' 'en' as category %}
            {% endif %}


            <ul class="category-list">
                {{ category | safe  }}
            </ul>

            </div>
            <!-- /category nav -->

            <!-- menu nav -->
            <div class="menu-nav">
                <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                <ul class="menu-list">
                    <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                    <li><a href="{% url 'aboutus' %}">{% trans "About Us" %}</a></li>
                    <li><a href="{% url 'contactus' %}">{% trans "Contact Us" %}</a></li>


                </ul>
            </div>
            <!-- menu nav -->
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /NAVIGATION -->
