{% load currency %}
{% load static %}
	<!-- HOME -->
	<div id="home">
		<!-- container -->
		<div class="container">
			<!-- home wrap -->
			<div class="home-wrap">
				<!-- home slick -->
				<div id="home-slick">

                    {% for rs in products_slider %}
                    <!-- banner -->
					<div class="banner banner-1">
						<img src="{{ rs.image.url }}" alt="" style="height: 600px">
						<div class="banner-caption text-center">
							<h1>{{ rs.title }}   </h1>
							<h3 class="white-color font-weak">  {{ rs.price|currency:request.session.currency }} {{ request.session.currency }} </h3>
							<a href="{% url 'product_detail' rs.id rs.slug %}" class="primary-btn">Shop Now</a>

						</div>
					</div>
					<!-- /banner -->
                    {% endfor %}

				</div>
				<!-- /home slick -->
			</div>
			<!-- /home wrap -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOME -->