<div class="billing-details">
    <div class="section-title">
        <h3 class="title">User Panel</h3>
    </div>
    <div class="aside">
    <ul class="list-links">
        <li><a href="/user">User Profile</a></li>
        <li><a href="/user/orders">My Orders</a></li>
        <li><a href="/user/comments">My Comments</a></li>
        <li><a href="/user/favorits">My Favorits</a></li>
        <li><a href="/user/products">My Products</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</div>